<div id="customer">
<div class="edit-page">

<h1>Edit a Customer</h1>

<div *ngIf="customer">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editCustomerForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="custID" formControlName="custID" type="custID" required [value]="customer.custID" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="custFirstName" type="custFirstName" required [value]="customer.custFirstName" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="custLastName" type="custLastName" required [value]="customer.custLastName" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="custEmail" type="custEmail" required [value]="customer.custEmail" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Phone" formControlName="custPhone" type="custPhone" required [value]="customer.custPhone" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="custAddress" type="custAddress" required [value]="customer.custAddress" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="City, St Zip" formControlName="custCityStZip" type="custCityStZip" required [value]="customer.custCityStZip" />
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button class="nav-btn" type="submit">Save</button>
    <a mat-raised-button class="nav-btn" routerLink="/customers">Back to List</a>
  </form>
</div>
</div>
</div>