<h1>Edit a Customer</h1>
<hr>

<div *ngIf="Customer">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editCustomerForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="CustID" formControlName="CustID" type="CustID" required [value]="customer.CustID" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="CustFirstName" formControlName="CustFirstName" type="CustFirstName" required [value]="customer.CustFirstName" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="CustLastName" formControlName="CustLastName" type="CustLastName" required [value]="customer.CustLastName" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="CustEmail" formControlName="CustEmail" type="CustEmail" required [value]="customer.CustEmail" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="CustPhone" formControlName="CustPhone" type="CustPhone" required [value]="customer.CustPhone" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="CustAddress" formControlName="CustAddress" type="CustAddress" required [value]="customer.CustAddress" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="CustCityStZip" formControlName="CustCityStZip" type="CustCityStZip" required [value]="customer.CustCityStZip" />
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
  </form>
</div>

<a mat-button routerLink="/customers">Back to List</a>