<div class="edit-page">

<h1>Edit a Customer</h1>
<hr>

<div *ngIf="customer">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editCustomerForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="custID" formControlName="custID" type="custID" required [value]="customer.custID" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="custFirstName" formControlName="custFirstName" type="custFirstName" required [value]="customer.custFirstName" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="custLastName" formControlName="custLastName" type="custLastName" required [value]="customer.custLastName" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="custEmail" formControlName="custEmail" type="custEmail" required [value]="customer.custEmail" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="custPhone" formControlName="custPhone" type="custPhone" required [value]="customer.custPhone" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="custAddress" formControlName="custAddress" type="custAddress" required [value]="customer.custAddress" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="custCityStZip" formControlName="custCityStZip" type="custCityStZip" required [value]="customer.custCityStZip" />
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
    <a mat-raised-button class="nav-btn" routerLink="/customers">Back to List</a>
  </form>
</div>


</div>