<div class="delete-page">

<h1>Delete a Customer</h1>
<h4>Are you sure you want to delete this?</h4>
<hr>

<div *ngIf="customer">
  <div>
    <label for="">Customer ID: </label>
    <span>{{customer.custID}}</span>
  </div>
  <div>
    <label for="">First Name: </label>
    <span>{{customer.custFirstName}}</span>
  </div>
  <div>
    <label for="">Last Name: </label>
    <span>{{customer.custLastName}}</span>
  </div>
  <div>
    <label for="">Email: </label>
    <span>{{customer.custEmail}}</span>
  </div>
  <div>
    <label for="">Phone: </label>
    <span>{{customer.custPhone}}</span>
  </div>
  <div>
    <label for="">Address: </label>
    <span>{{customer.custAddress}}</span>
  </div>
  <div>
    <label for="">City St Zip: </label>
    <span>{{customer.custCityStZip}}</span>
  </div>
</div>

<button mat-raised-button class="nav-btn" color="warn" (click)="onDelete()">Delete</button>
<button mat-raised-button class="nav-btn" routerLink="/customers">Back to List</button>
</div>
