.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: none;
  text-align: center;
  background-color: #000;
}

#logo {
  width: 6%;
  height: 6%;
  position: relative;
}

a {
  color: #002080;
}
p, a span {
  color: #002080;
}
