<div id="customer">
<div class="detail-page">

<h1>Customer Details</h1>

<div *ngIf="customer">
 
  <div class="col1">
    <label for="">First Name: </label>
    <span class="col2">{{customer.custFirstName}}</span>
  </div>
  <div class="col1">
    <label for="">Last Name: </label>
    <span class="col2">{{customer.custLastName}}</span>
  </div>
  <div class="col1">
    <label for="">Email: </label>
    <span class="col3">{{customer.custEmail}}</span>
  </div>
  <div class="col1">
    <label for="">Phone: </label>
    <span class="col4">{{customer.custPhone}}</span>
  </div>
  <div class="col1">
    <label for="">Address: </label>
    <span class="col5">{{customer.custAddress}}</span>
  </div>
  <div class="col1">
    <label for="">City, St Zip: </label>
    <span class="col2">{{customer.custCityStZip}}</span>
  </div>
  <br>
</div>
<button *ngIf="customer" mat-raised-button class="nav-btn" color="accent" routerLink="/customers/edit/{{customer.custID}}">Edit</button>
<button mat-raised-button class="nav-btn" routerLink="/customers">Back to List</button>
</div>
</div>
