<mat-toolbar color="primary">
  <span>Catering Coordinator</span>
  <span class="example-fill-remaining-space"></span>
  <div *ngIf="isLoggedIn; else auth">
    <span>Welcome {{username}}</span>
    <button mat-raised-button class="nav-btn" (click)="onLogout()">Logout</button>
  </div>
  <ng-template #auth>
    <button mat-raised-button class="nav-btn" routerLink="customers">Customers</button>
    <button mat-raised-button class="nav-btn" routerLink="foods">Foods</button>
    <button mat-raised-button class="nav-btn" routerLink="events">Events</button>
    <button mat-raised-button class="nav-btn" routerLink="register">Register</button>
    <button mat-raised-button class="nav-btn" routerLink="login">Login</button>
    <button mat-raised-button class="nav-btn" (click)="onLogout()">Logout</button>
  </ng-template>
</mat-toolbar>