<mat-toolbar color="primary">
  <span>Catering Coordinator</span>
  <span class="example-fill-remaining-space"></span>
  <a routerLink = "foods">
      <button mat-raised-button  class="nav-btn">Food</button>
    </a>
  <a routerLink = "register">
    <button mat-raised-button  class="nav-btn">Register</button>
  </a>
  <a routerLink = "customers">
    <button mat-raised-button  class="nav-btn">Customer</button>
  </a>
  <a routerLink = "login">
    <button mat-raised-button class="nav-btn">Login</button>
  </a>
</mat-toolbar>