<div id="food">
    <div class="delete-page">

<h1>Delete a Food Item</h1>
<h4>Are you sure you want to delete this?</h4>
    
<div *ngIf="food">
    <div>
        <label for="">Id #: </label>
        <span>{{food.foodID}}</span>
      </div>
  <div>
    <label for="">Name: </label>
    <span>{{food.name}}</span>
  </div>
  <div>
    <label for="">Description: </label>
    <span>{{food.description}}</span>
  </div>
  <div>
    <label for="">Ingredients: </label>
    <span>{{food.ingredient}}</span>
  </div>
  <div>
    <label for="">Allergens: </label>
    <span>{{food.allergen}}</span>
  </div>
</div>
<button mat-raised-button class="nav-btn" color="warn" (click)="onDelete()">Delete</button>
<button mat-raised-button class="nav-btn" color="primary" routerLink="/foods">Back to List</button>
</div>
</div>