html {
    height: 80vh;
}

.bg-image {
    background: url(../../../assets/pexels-photo-313715.jpeg) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
}

.bg-text {
    font-weight: bold;
    padding: 20px;
    text-align: center;
    position: absolute;
    left: 44%;
    top: 45%;
    height: 300px;
    margin-top: -150px; /* half of you height */
    width: 200px;
    margin-left: -100px; /* half of you width */
}