<div id="food">
<div class="index-page">
  <h1>Foods</h1>
  <div>
    <a mat-raised-button color="primary" routerLink="/foods/create">Create New</a>

    <div class="food-container mat-elevation-z8">
        <div *ngIf="dataSource">
      <mat-table #table [dataSource]="dataSource" matSort>
        <mat-header-row *matHeaderRowDef="columnNames; sticky:true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
          <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
            <mat-cell *matCellDef="let food" routerLink="/foods/detail/{{food.foodID}}"><i class="material-icons">library_books</i></mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let food">{{food.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let food">
              <i class="material-icons" routerLink="/foods/edit/{{food.foodID}}">edit</i>
              <i class="material-icons" routerLink="/foods/delete/{{food.foodID}}">delete</i>
            </mat-cell>
          </ng-container>
      </mat-table>
    </div>
    </div>
  </div>
</div>
</div>