<div class="create-page">
<h1>Add a New Customer</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="customerForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="custFirstName" type="custFirstName" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="custLastName" type="custLastName" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="custEmail" type="email" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Phone" formControlName="custPhone" type="tel" pattern="[0-9]{3}-[0-9]-[0-9]{4}" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Street Address" formControlName="custAddress" type="custAddress" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="City St Zip" formControlName="custCityStZip" type="custCityStZip" required/>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Customer</button>
  <a mat-raised-button class="nav-btn" routerLink="/customers">Back to List</a>
</form>

</div>