<div id="section">
  <div class="auth-container">
    <h2>Login</h2>

    <form [formGroup]="_loginForm" (ngSubmit)="onSubmit()">
      <div>
        <div>
          <mat-form-field class="form-group">
            <label for="username">UserName</label>
            <input matInput placeholder="UserName" formControlName="username" type="username" required />
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <label for="password">Password</label>
            <input matInput placeholder="Password" formControlName="password" type="password" required />
          </mat-form-field>
        </div>

      </div>
      <button mat-raised-button class="nav-btn" color="primary" type="submit">Login</button>
    </form>
  </div>
</div>