<div class="details-page">
<h1>Details</h1>
<hr>

<div *ngIf="event">
 
  <div>
    <label for="">Location: </label>
    <span>{{event.location}}</span>
  </div>
  <div>
    <label for="">Number Of People: </label>
    <span>{{event.numberOfPeople}}</span>
  </div>
  <div *ngIf="foodData">
    <label for="">Food: </label>
    <span>{{foodData.name}}</span>
  </div>
  <div>
    <label for="">Additonal Notes: </label>
    <span>{{event.additionalNotes}}</span>
  </div>
  <div>
    <label for="">Date Of Event: </label>
    <span>{{event.dateOfEvent}}</span>
  </div>
  <div *ngIf="customerData">
    <label for="">Customer Name: </label>
    <span>{{customerData.custLastName}}, {{customerData.custFirstName}}</span>
  </div>
</div>

<button *ngIf="event" mat-raised-button class="nav-btn" color="accent" routerLink="/events/edit/{{event.eventEntityID}}">Edit</button>
<button mat-raised-button class="nav-btn" color="primary" routerLink="/events">Back to List</button>
</div>

