<div id="event">
  <div class="detail-page">
<h1>Details</h1>

<div *ngIf="event">
 
  <div class="col1">
    <label for="">Location: </label>
    <span class="col2">{{event.location}}</span>
  </div>
  <div class="col1">
    <label for="">Number Of People: </label>
    <span class="col3">{{event.numberOfPeople}}</span>
  </div>
  <div  class="col1"*ngIf="foodData">
    <label for="">Food: </label>
    <span class="col4">{{foodData.name}}</span>
  </div>
  <div class="col1">
    <label for="">Additonal Notes: </label>
    <span class="col5">{{event.additionalNotes}}</span>
  </div>
  <div class="col1">
    <label for="">Date Of Event: </label>
    <span class="col6">{{event.dateOfEvent |date}}</span>
  </div>
  <div class="col1" *ngIf="customerData">
    <label for="">Customer Name: </label>
    <span class="col5">{{customerData.custLastName}}, {{customerData.custFirstName}}</span>
  </div>
</div>
<br>
<button *ngIf="event" mat-raised-button class="nav-btn" color="accent" routerLink="/events/edit/{{event.eventEntityID}}">Edit</button>
<button mat-raised-button class="nav-btn" routerLink="/events">Back to List</button>
</div>
</div>