<div id="event">
  <div class="delete-page">
      <h1>Delete an Event</h1>
      <h4>Are you sure you want to delete this?</h4>
      
      
<div *ngIf="event">
  <div *ngIf="foodData">
    <div class="col1">
      <label for="">Location: </label>
      <span class="col2">{{event.location}}</span>
    </div>
    <div class="col1">
      <label for="">Number Of People: </label>
      <span class="col3">{{event.numberOfPeople}}</span>
    </div>
    <div class="col1">
      <label>Food: </label>
      <span class="col4">{{foodData.name}}</span>
    </div>
    <div class="col1">
      <label for="">Addtional Notes: </label>
      <span class="col5">{{event.additionalNotes}}</span>
    </div>
    <div class="col1">
      <label for="">Date of Event: </label>
      <span class="col6">{{event.dateOfEvent | date}}</span>
    </div>
    <div class="col1" *ngIf="customerData">
      <label for="">Customer Name: </label>
      <span class="col5">{{customerData.custLastName}},{{customerData.custFirstName}}</span>
    </div>
  </div>
</div>
<br>
<button mat-raised-button class="nav-btn" color="warn" (click)="onDelete()">Delete</button>
<button mat-raised-button class="nav-btn" routerLink="/events">Back to List</button>
</div>
</div>