<div id="customer">
<div class="index-page">
    <h1>Customers</h1>
    <a mat-raised-button routerLink="/customers/create">Create New</a>
    <div class="customer-container mat-elevation-z8">

        <div *ngIf="dataSource">
            <mat-table #table [dataSource]="dataSource" matSort>
                <mat-header-row *matHeaderRowDef="columnNames; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

                <ng-container matColumnDef="details">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let customer">
                        <i class="material-icons" routerLink="/customers/detail/{{customer.custID}}">library_books</i>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="custFirstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
                    <mat-cell *matCellDef="let customer">{{customer.custFirstName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="custLastName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
                    <mat-cell *matCellDef="let customer">{{customer.custLastName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="custEmail">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let customer">{{customer.custEmail}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let customer">
                        <i mat-icon class="material-icons" routerLink="/customers/edit/{{customer.custID}}">edit</i>
                        <i class="material-icons" routerLink="/customers/delete/{{customer.custID}}">delete</i>
                    </mat-cell>
                </ng-container>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
</div>
